<div class="alert <%= bootstrap_class_for(msg_type) %>">
  <div class="container">
    <%= message %>
    <button type="button" class="btn-close float-end" aria-label="Close" data-bs-dismiss="alert"></button>
  </div>
</div>